@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@font-face {
    font-family: SF Mono;
    src: url("assets/SFMono-Regular.woff2");
}

* {
    font-family: -apple-system, Inter, sans-serif !important;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none !important;
}

#edit textarea::-webkit-scrollbar {
    display: initial !important;
    background: none;
    width: 5px;
    height: 5px;
}

#edit textarea::-webkit-scrollbar-track {
    background: none;
}

#edit textarea::-webkit-scrollbar-thumb {
    background: #576574;
    border-radius: 5px;
}

#edit textarea::-webkit-scrollbar-thumb:hover {
    background: #dfe4ea;
}

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    color: white;
    background: #576574;
}

a {
    text-decoration: none;
    color: white;
}

button {
    background: none;
    border: 1.5px solid #78909c;
    color: white;
    font-size: 14.5px;
    font-weight: 500;
    padding: 7px 10px 7px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: border .2s
}

button:hover {
    border: 1.5px solid white;
}

nav {
    display: flex;
    position: absolute;
    width: 95%;
    height: 55px;
    align-items: center;
    background: #353b48;
    margin-left: 2.5%;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: transform .25s;
    animation: appear-nav .5s;
}

nav h3 {
    margin-left: 15px;
}

nav h3 div {
    height: 1.68px;
    width: 0;
    background: white;
    transition: width .2s, margin-left .2s;
}

nav>h3>a>span {
    margin-left: 2px;
    filter: opacity(0);
    transition: filter .2s;
}

nav>span {
    margin-left: 5px;
    filter: opacity(0);
    transition: filter .2s .1s;
}

nav #toggle, nav #download, nav label, nav>a {
    display: flex;
    border: none;
    align-items: center;
    margin-right: 10px;
    justify-self: flex-end;
    cursor: pointer;
}

nav #toggle {
    margin-right: 15px;
}

nav #download {
    position: relative;
    left: 15px;
    margin-left: auto;
}

nav label {
    position: relative;
    right: 10px;
}

nav #toggle:hover, nav #download:hover, nav label:hover {
    border: none;
}

nav #toggle img, nav #download img, nav label img {
    width: 30px;
    transition: filter .2s;
}

nav label img {
    width: 23px;
}

nav #toggle img:hover, nav #download img:hover, nav label img:hover {
    filter: opacity(.7);
}

nav>a {
    display: flex;
    margin-left: 0;
    justify-self: flex-end;
    align-items: center;
}

nav a img {
    margin-right: 5px;
    width: 26px;
    transition: filter .2s;
}

nav a img:hover {
    filter: opacity(.7);
}

#fileExplorer {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 85%;
    margin-top: 85px;
    padding-bottom: 15px;
    background: #2c3e50;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: transform .3s;
    overflow-y: scroll;
    animation: appear-fileExplorer .5s;
}

#fileExplorer>button, #fileExplorer>div, #fileExplorer>form {
    margin: 25px 0 0 0;
}

#fileExplorer button {
    align-self: center;
    padding: 10px;
}

#fileExplorer>form {
    display: flex;
    width: 80%;
    justify-content: center;
}

#fileExplorer>form input {
    width: inherit;
    height: 30px;
    border-radius: 5px;
    border: 1.5px solid #78909c;
    padding: 5px;
}

#fileExplorer>form input:focus {
    border: 1.5px solid white;
}

#fileExplorer input {
    transition: border .2s;
    background: none;
    color: white;
    font-size: 15px;
}

#edit {
    position: absolute;
    top: 85px;
    right: 0;
    display: flex;
    flex-direction: column;
    border-radius: 10px 0 0 10px;
    width: 79%;
    height: 85%;
    background: none;
    transition: width .3s, right .3s;
    animation: appear-editor .5s;
}

#edit #tabs {
    display: flex;
    justify-items: flex-end;
    width: 100%;
    min-height: 38px;
    margin-bottom: 10px;
    overflow-x: scroll;
}

#edit #parent {
    display: flex;
    background: #354a5f;
    border-radius: 7px 0 0 7px;
    width: 100%;
    height: 95%;
}

#edit #lineNumber {
    filter: opacity(.5);
    text-align: right;
    font-size: 14.5px;
    padding: 15px 4px 20px 4px;
    width: 2.55%;
    height: 100%;
    overflow-y: scroll;
    font-family: SFMono-Regular, SF Mono, Consolas, Liberation Mono, Menlo, monospace !important;
    color: gray;
    pointer-events: none;
}

#edit textarea {
    resize: none;
    padding: 15px 20px 20px 20px;
    font-size: 14.5px;
    font-family: SFMono-Regular, SF Mono, Consolas, Ubuntu Mono, Liberation Mono, Menlo, monospace !important;
    width: 97.45%;
    height: 100%;
    border: none;
    background: none;
    color: #d3e1e8;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

#edit #logoPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#edit #logoPage img {
    filter: invert(.5) opacity(.4);
    width: 300px;
}

#edit #logoPage div {
    font-size: 20px;
    font-weight: 500;
    color: gray;
    margin-top: 30px;
}

h3 {
    margin: 0;
    font-weight: 600;
}

.hidden {
    display: none !important;
}

.file {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1.5px solid #78909c;
    width: 70%;
    height: 35px;
    padding: 5px 10px 5px 5px;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
    transition: border .2s, filter .2s;
    animation: fadeIn .3s;
}

.file span {
    overflow: hidden;
    border-radius: 2px;
    display: flex;
    margin: 0;
    margin-right: auto;
    justify-self: flex-start;
    align-items: center;
}

.file span img {
    height: 25px;
}

.file form {
    display: none;
    width: 60%;
    height: 95%;
}

.file form input {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1.5px solid #78909c;
    text-align: right;
}

.file form input:focus {
    border-bottom: 1.5px solid white;
}

.file:hover, .file.selected {
    border: 1.5px solid white;
}

.file.dragged {
    border: 1.5px dashed white;
}

.tab {
    display: flex;
    align-items: center;
    margin-right: 10px;
    border-radius: 7px;
    padding-left: 10px;
    background: rgba(47,53,66,.1);
    border: 1.9px solid rgba(47,53,66);
    text-shadow: 0 0 5px rgba(0,0,0,.3);
    width: 9.5%;
    height: 100%;
    box-shadow: 2px 2px solid rgba(0,0,0,.3);
    transition: width .15s, border .2s, background .2s;
}

.tab:hover {
    background: rgba(47,53,66,.3)
}

.tab.selected {
    background: rgba(47,53,66,.8);
    border: 1.9px solid rgba(47,53,66);
}

@keyframes appear-editor {
    from {transform: translateX(60%);}
    to {transform: none;}
}

@keyframes appear-fileExplorer {
    from {transform: translateX(-100%);}
    to {transform: none;}
}

@keyframes appear-nav {
    from {transform: translateY(-100%);}
    to {transform: none;}
}

@keyframes fadeIn {
    from {filter: opacity(0);}
    to {filter: none;}
}