@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

* {
    font-family: -apple-system, "Inter", sans-serif !important;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    tab-size: 3;
}

::selection {
    background: #f1f2f6;
    color: #222f3e;
}

::-moz-selection {
    background: #f1f2f6;
    color: #222f3e;
}

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3000px;
    margin: 0;
    overflow-x: hidden;
    background: darkblue;
    color: white;
}

#nav {
    position: fixed;
    width: 100vw;
    height: 50px;
    background: #676E95;
}

#file {
    width: 20%;
    height: 3000px;
    background: #3C435E;
    color: white;
    padding-top: 50px;
}

#edit {
    width: 90%;
    height: 3000px;
    background: #292d3e;
    padding-top: 50px;
}

#edit textarea {
    font-size: 15px;
    font-family: "Cascadia Code SemiLight", "Consolas", "Menlo", "Courier New", monospace !important;
    padding: 20px;
    margin: 0;
    width: 98%;
    height: 2960px;
    background: none;
    border: none;
    color: #d3e1e8;
}

h3 {
    margin: 0;
    font-weight: 600;
}