@import url('https://codemirror.net/lib/codemirror.css');
@import url('https://codemirror.net/theme/material.css');
@import url('https://codemirror.net/addon/hint/show-hint.css');
@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

* {
    font-family: -apple-system, Inter, sans-serif;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none !important;
}

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    color: white;
    background: #576574;
}

a {
    text-decoration: none;
    color: white;
}

#fileExplorer>button, nav>button {
    background: none;
    border: 1.5px solid #78909c;
    color: white;
    font-size: 14.5px;
    font-weight: 500;
    padding: 7px 10px 7px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: border .2s
}

#fileExplorer>button:hover, nav>button:hover {
    border: 1.5px solid white;
}

nav {
    display: flex;
    position: absolute;
    width: 98%;
    height: 55px;
    align-items: center;
    background: #353b48;
    margin: .5% 0 0 1%;
    z-index: 1;
    border-radius: 10px;
    transition: transform .25s;
    animation: appear-nav .5s;
}

nav h3 {
    margin-left: 15px;
}

nav h3 div {
    height: 2px;
    border-radius: 1px;
    width: 0;
    background: white;
    transition: width .2s, margin-left .2s;
}

nav>h3>a>span {
    margin-left: 2px;
    filter: opacity(0);
    transition: filter .2s;
}

nav>span {
    margin-left: 5px;
    filter: opacity(0);
    transition: filter .2s .1s;
}

nav #toggle, nav #download, nav label, nav>a {
    display: flex;
    border: none;
    align-items: center;
    margin-right: 10px;
    justify-self: flex-end;
    cursor: pointer;
}

nav #toggle {
    margin-right: 15px;
}

nav #download {
    position: relative;
    left: 15px;
    margin-left: auto;
}

nav label {
    position: relative;
    right: 10px;
}

nav #toggle:hover, nav #download:hover, nav label:hover {
    border: none;
}

nav #toggle img, nav #download img, nav label img {
    width: 30px;
    transition: filter .2s;
}

nav label img {
    width: 23px;
}

nav #toggle img:hover, nav #download img:hover, nav label img:hover {
    filter: opacity(.7);
}

nav>a {
    display: flex;
    margin-left: 0;
    justify-self: flex-end;
    align-items: center;
}

nav a img {
    margin-right: 5px;
    width: 26px;
    transition: filter .2s;
}

nav a img:hover {
    filter: opacity(.7);
}

#fileExplorer {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 85px;
    align-items: center;
    width: 19%;
    left: 1%;
    height: 85%;
    padding-bottom: 15px;
    background: #2c3e50;
    color: white;
    border-radius: 10px;
    transition: transform .3s;
    overflow-y: scroll;
    animation: appear-fileExplorer .5s;
}

#fileExplorer>button, #fileExplorer>div, #fileExplorer>form {
    margin: 25px 0 0 0;
}

#fileExplorer button {
    align-self: center;
    padding: 10px;
}

#fileExplorer>form {
    display: flex;
    width: 80%;
    justify-content: center;
}

#fileExplorer>form input {
    width: inherit;
    height: 30px;
    border-radius: 5px;
    border: 1.5px solid #78909c;
    padding: 5px;
}

#fileExplorer>form input:focus {
    border: 1.5px solid white;
}

#fileExplorer input {
    transition: border .2s;
    background: none;
    color: white;
    font-size: 15px;
}

#full-edit {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 85px;
    right: 1%;
    width: 78%;
    height: 85%;
    transition: width .3s;
    animation: appear-editor .5s;
}

#edit {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    height: 66%;
    background: none;
    transition: width .3s, right .3s, height .3s;
}

#edit #tabs {
    display: flex;
    justify-items: flex-end;
    width: 100%;
    min-height: 38px;
    margin-bottom: 10px;
    overflow-x: scroll;
}

.CodeMirror {
    cursor: text;
    padding: 15px 15px 15px 0;
    height: 95% !important;
    border-radius: 10px;
}

.CodeMirror * {
    font-family: SFMono-Regular, Consolas, Ubuntu Mono, Liberation Mono, Menlo, monospace !important;
    font-size: 14.5px;
    color: #89ddff;
}

.CodeMirror-linenumbers {
    padding-right: 5px !important;
}

span.cm-variable, span.cm-variable-2 {
    color: #c8d6e5 !important;
}

span.cm-property {
    color: #c7ecee !important;
}

span.cm-number {
    color: #f78660 !important;
}

span.cm-keyword {
    font-style: italic !important;
}

span.cm-conditional, span.cm-bracket {
    color: #89ddff !important;
}

#edit #logoPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#edit #logoPage img {
    filter: invert(.5) opacity(.4);
    width: 300px;
}

#edit #logoPage div {
    font-size: 20px;
    font-weight: 500;
    color: gray;
    margin-top: 30px;
}

#console {
    font-family: SFMono-Regular, Consolas, Ubuntu Mono, Liberation Mono, Menlo, monospace !important;
    border-radius: 10px;
    width: 100%;
    height: 32%;
    background: white;
    background: #222f3e;
    padding: 15px 15px 15px 20px;
    font-size: 15px;
    transition: transform .3s;
}

#console #mode {
    display: flex;
}

#console #mode div {
    width: 80px;
    padding: 2.5px;
    margin-right: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    border-bottom: 2px solid rgba(64,224,208,.5);
    cursor: pointer;
    filter: opacity(.6);
    transition: border-bottom .2s, filter .2s;
}

#console #mode div:hover {
    border-bottom: 2px solid rgba(64,224,208,.7);
}

#console #mode div.selected {
    filter: opacity(1);
    border-bottom: 2px solid turquoise;
}

#console #error {
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    font-family: SFMono-Regular, Consolas, Ubuntu Mono, Liberation Mono, Menlo, monospace !important;
    color: #ff8080;
    background: #290000;
    border: 1.5px solid #5c0000;
}

#console #terminal {
    padding: 5px;
    overflow: scroll;
}

#console #terminal div {
    padding: 5px;
    font-family: SFMono-Regular, Consolas, Ubuntu Mono, Liberation Mono, Menlo, monospace !important;
    border-bottom: 1.5px solid gray;
}

#console #terminal div:last-child {
    border-bottom: none;
}

h3 {
    margin: 0;
    font-weight: 600;
}

.hidden {
    display: none !important;
}

.file {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1.5px solid #78909c;
    width: 70%;
    height: 35px;
    padding: 5px 10px 5px 5px;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
    transition: border .2s, filter .2s;
    animation: fadeIn .3s;
}

.file span {
    overflow: hidden;
    border-radius: 2px;
    display: flex;
    margin: 0;
    margin-right: auto;
    justify-self: flex-start;
    align-items: center;
}

.file span img {
    height: 23px;
}

.file form {
    display: none;
    width: 60%;
    height: 95%;
}

.file form input {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1.5px solid #78909c;
    text-align: right;
}

.file form input:focus {
    border-bottom: 1.5px solid white;
}

.file:hover, .file.selected {
    border: 1.5px solid white;
}

.file.dragged {
    border: 1.5px dashed white;
}

.tab {
    display: flex;
    align-items: center;
    margin-right: 10px;
    border-radius: 7px;
    padding-left: 10px;
    background: rgba(47,53,66,.1);
    border: 1.9px solid rgba(47,53,66);
    text-shadow: 0 0 5px rgba(0,0,0,.3);
    width: 9.5%;
    height: 100%;
    box-shadow: 2px 2px solid rgba(0,0,0,.3);
    transition: width .15s, border .2s, background .2s;
}

.tab:hover {
    background: rgba(47,53,66,.3)
}

.tab.selected {
    background: rgba(47,53,66,.8);
    border: 1.9px solid rgba(47,53,66);
}

#contextmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    border-radius: 8px;
    width: 150px;
    height: 85px;
    background: rgba(30,30,30,.7);
    z-index: 3;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    transition: height .2s;
}

#contextmenu input {
    width: 0;
    height: 0;
    border: none;
}

#contextmenu button {
    border: none;
    text-align: left;
    width: 93%;
    height: 40%;
    border-radius: 5px;
    font-size: 15px;
    background: rgba(50,50,50,.7);
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,.2);
    cursor: pointer;
    transition: background .2s;
}

#contextmenu button:hover {
    background: rgba(80,80,80.8);
}

@keyframes appear-editor {
    from {transform: translateX(60%);}
    to {transform: none;}
}

@keyframes appear-fileExplorer {
    from {transform: translateX(-100%);}
    to {transform: none;}
}

@keyframes appear-nav {
    from {transform: translateY(-100%);}
    to {transform: none;}
}

@keyframes fadeIn {
    from {filter: opacity(0);}
    to {filter: none;}
}